                                                /* AJUSTES GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

                                                    /* MENÚ */

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: bold;
    color: #707070;
}

.nav-link:hover{
    color: black;
    transition-property: color;
    transition-duration: .5s;
}

.nav-logo img{
    width: 200px;
}

#contact-btn, #fcontact-btn{
    background: #006838;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
}

@media only screen and (max-width: 990px) {

    .navbar{
        justify-content: space-between;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6.5rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        background: #006838;
    }

    .nav-menu a{
        color: white;
    }

    .nav-menu a:hover{
        color: white;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

                                                /* SECCIÓN 1 */

.one{
    color: #363636;
    padding: 0 7%;
}

.one .one-content{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    justify-content: space-around;
}

.one .one-content .one-text{
    width: 50%;
    padding-right: 5rem;
}

.one .one-content .one-text p:first-of-type{
    font-weight: bold;
    font-size: 1.3rem;
}

.one .one-content .one-text h1{
    font-size: 3rem;
}

.one .one-content .one-text button, .two .two-content .two-text button, .three .three-content button{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    background: #006838;
    color: white;
    border: none;
    padding: 1rem 4rem;
    margin-top: 2rem;
}

.one .one-content img{
    width: 45%;
    height: 100%;
}

                                                /* SECCIÓN 2 */

.two{
    background: #F6F5EB;
    color: #363636;
    padding: 0 7%;
}

.two .two-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0 5rem 0;
}

.two .two-content img{
    width: 50%;
    border-radius: 30px;
}

.two .two-content .two-text{
    width: 50%;
    padding-left: 3.5rem;
}

.two .two-content .two-text h2{
    font-size: 3rem;
    word-wrap: break-word;
}

.two .two-content .two-text span{
    color: #FF9E00;
}

.two .two-content .two-text button, .three .three-content button{
    background: #FF9E00;
}

                                                /* SECCIÓN 3 */

.three{
    color: #363636;
    padding: 0 5%;
}

.three .three-content .three-text{
    padding: 3rem 0 4rem 0;
    margin: auto;
}

.three .three-content .three-text .fertilizantes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}















.three .three-content .three-text .semillas .semillas1 {
    background-image: url(images/semillas_fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    margin-left: calc(-5vw);
    margin-right: calc(-5vw);
    min-height: 50vh;
    color: white;
    padding: 5% 0;
}

.three .three-content .three-text .semillas .semillas1 h3{
    font-size: 5rem;
    text-align: center;
}

.three .three-content .three-text .semillas .semillas1 p{
    text-align: center;
    padding: 0 15%;
    margin-top: 5%;
    padding-bottom: 2rem;
    font-size: 1.5rem
}














.three .three-content .three-text .semillas .semillas-content-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.three .three-content .three-text .semillas .semillas-content-1 .semillas-text,
.three .three-content .three-text .fertilizantes .fertilizantes-text{
    width: 50%;
}

.three .three-content .three-text .semillas .semillas-text h3,
.three .three-content .three-text .fertilizantes .fertilizantes-text h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.three .three-content .three-text .semillas .semillas-content-1 .semillas-text p{
    padding-right: 3rem;
}

.three .three-content .three-text .semillas .semillas-content-1 img,
.three .three-content .three-text .fertilizantes img{
    width: 50%;
    border-radius: 20px;
    max-width: 700px;
    margin: auto;
}

.three .three-content .three-text .semillas .semillas-content-2{
    display: block;
    margin-top: 3rem;
}

.three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-1,
.three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-2{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}

 .three .three-content .three-text .semillas .semillas-content-2 .card{
    margin: 0 .5rem;
    max-width: 395px;
} 

.three .three-content .three-text .semillas .semillas-content-2 .card img{
    border-radius: 0;
    width: 100%;
    display: block;
}

.three .three-content .three-text .semillas .semillas-content-2 .card .card-container{
    padding: 2rem 1rem;
    background: #006838;
    color: white;
}

.three .three-content .three-text .semillas .semillas-content-2 .card .card-container h4{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* .three .three-content .three-text .fertilizantes{
    margin: 5rem 0 5rem 0;
}

.three .three-content .three-text .fertilizantes .fertilizantes-text{
    padding-left: 3rem;
} */













.three .three-content .three-text .fertilizantes .fertilizantes-content{
    background-image: url(images/fertilizantes_fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    margin-left: calc(-7vw);
    margin-right: calc(-7vw);
    min-height: 50vh;
    color: white;
    margin-top: 3rem;
    padding: 5% 0;
}

.three .three-content .three-text .fertilizantes .fertilizantes-content h3{
    font-size: 5rem;
    text-align: center;
}

.three .three-content .three-text .fertilizantes .fertilizantes-content p{
    text-align: center;
    padding: 0 15%;
    margin-top: 5%;
    padding-bottom: 2rem;
    font-size: 1.5rem
}

































































.container {
  display: block;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5%;
}

.container .container-cards-1, .container .container-cards-2{
    display: flex;
    width: fit-content;
    margin: auto;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 25%;
  max-width: 80%;
  padding: 2em 0;
  background: white;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12); 
  /* border: .5px solid black; */
  transition: all 0.35s ease;
  margin: auto;
  /* margin: 0 1rem; */
}

.container .container-cards-1{
    margin: 3rem 0 1rem 0;
}

.container .container-cards-1 .card{
    width: 32%;
}

.container .container-cards-2 .card{
    width: 49%;
}

.container .card::before,
.container .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #006838;
  height: 4px;
}

.container .card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.container .card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.container .card .content, .container .card #tratamiento p, .container .card #tratamiento h3
{
  /* width: 18em;
  max-width: 80%; */
  padding: 0 1.5rem;
}

.container .card .logo {
  /* margin: 0 0 1em; */
  width: 100px;
  transition: all 0.35s ease;
  margin: auto;
  margin-bottom: 3rem;
  display: block;
}

.container .card #tratamiento{
    padding: 0 0;
}

.container .card #tratamiento .logo{
    width: 100%;
}

.container .card h3 {
  color: #363636;
  text-align: center;
  margin: 0;
}

.container .card .hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em); 
  transition: all 0.55s ease;
}

.container .card .hover_content p {
  margin: 1.5em 0 0;
  line-height: 1.4em;
}

.container .card:hover {
  /* width: 24em; */
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12); 
}

.container .card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.container .card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.container .card:hover .logo {
  margin-bottom: 1.5em;
}

.container .card:hover .hover_content {
  max-height: fit-content;
  transform: none;
}

 






































































.three .three-content .three-text .three-cards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.three .three-content .three-text .three-cards .card{
    display: block;
    border: 3px solid #006838;
    border-radius: 35px;
    padding: 1rem;
    height: fit-content;
}

.three .three-content .three-text .three-cards .card img{
    margin: auto;
    display: block;
}

.three .three-content .three-text .three-cards .card h3{
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.three .three-content .three-text h2{
    font-size: 4rem;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
}

.three .three-content .three-text h2 span{
    color: #006838;
}

.three .three-content button{
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  position: relative;
  margin: auto;
}

.wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.23rem;
  height: 50px;
  width: 50px;
  background: #FF9E00;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  transition: 0.3s ease;
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  border-radius: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper .carousel.no-transition {
  scroll-behavior: auto;
}

.wrapper .carousel::-webkit-scrollbar {
  display: none;
}

.wrapper .carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.wrapper .carousel .card {
  scroll-snap-align: start;
  height: 500px;
  background: #fff;
  border-radius: 8px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .carousel.dragging .card {
  user-select: none;
  cursor: grab;
}

.wrapper .carousel .card .img {
  height: 148px;
  width: 148px;
  background: #8b53ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .carousel .card .img img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.wrapper .carousel .card h2 {
  font-size: 1.52rem;
  font-weight: 500;
  margin: 30px 0 5px;
}

.wrapper .carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

#card-1, #card-7{
    background-image: url(images/productos_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-2, #card-8{
    background-image: url(images/productos_02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-3, #card-9{
    background-image: url(images/productos_03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-4, #card-10{
    background-image: url(images/DSC_8084.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-5, #card-11{
    background-image: url(images/DSC_8132.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-6, #card-12{
    background-image: url(images/DSC_8212.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .wrapper .carousel .card{
    height: 400px;
  }
}

                                                /* SECCIÓN 4 */

.fourth .fourth-content {
    margin-top:17rem;
    width: 100%;
    height: 100%;
    background-color: #006838;
    text-align: center; 
    position: relative; 
    color: white;
    padding-bottom: 4rem;
}
  
.block-img {
    margin-top:-200px;
    width: 800px;
    height: 100%;
    border-radius: 45px;
}

.fourth .fourth-content .fourth-text{
    margin: auto;
    width: 850px;
}

.fourth .fourth-content .fourth-text h2{
    font-size: 5rem;
    margin-top: 3rem;
}

.fourth .fourth-content .fourth-text p{
    margin: 2rem 0 4rem 0;
}

.fourth .fourth-content form{
    padding: 0 20% 0 20%;
}

.fourth .fourth-content form input{
    display: block;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-bottom: 2rem;
}

.fourth .fourth-content form input::placeholder{
    color: #363636;
    font-weight: bold;
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
}

.fourth .fourth-content form input:last-of-type{
    width: auto;
    padding: 1rem 4rem;
    border-radius: 0;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.fourth .fourth-content form input:last-of-type:hover{
    background: rgb(189, 189, 189);
    transition-property: background;
    transition-duration: .5s;
}

                                                /* FOOTER */

footer{
    display: flex;
    justify-content: space-around;
    color: #363636;
    padding: 5rem 7% 3rem 7%;
}

footer .footer-ul{
    display: flex;
    justify-content: start;
    width: 100%;
}

footer .footer-ul div:last-of-type{
    margin: auto;
}

footer div{
    width: 30%;
}

footer ul li{
    margin-bottom: 1.5rem;
}

footer ul li a{
    color: #707070;
    font-weight: bold;
}

#fcontact-btn{
    width: fit-content;
}

#fcontact-btn a{
    color: white;
}

footer ul li a:hover{
    transition-property: color;
    transition-duration: .5s;
    color: black;
}

footer img{
    height: 100%;
}

                                            /* BOTÓN FIJADO */

.btnVolverArriba{
    display: none;
    position: fixed;
    bottom: 5%; 
    right: 20px; 
    transform: translateY(-50%); 
    background: #006838;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    z-index: 300;
}

                                        /* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 1023px){
    .one .one-content{
        display: block;
    }

    .one .one-content .one-text{
        width: 100%;
        padding-right: 0rem;
    }

    .one .one-content .one-text h1{
        font-size: 2.5rem;
    }

    .one .one-content .one-text button{
        margin-bottom: 3rem;
    }

    .one .one-content img{
        width: 90%;
        margin: auto;
        display: flex;
    }

    .two .two-content{
        flex-direction: column-reverse;
        padding: 3rem 0 3rem 0;
    }

    .two .two-content img{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    
    .two .two-content .two-text{
        width: 100%;
        padding-left: 0;
    }

    .two .two-content .two-text h2{
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .two .two-content .two-text button{
        margin-bottom: 3rem;
    }

    .three .three-content .three-text{
        padding: 3rem 0 4rem 0;
        width: 100%;
        margin: auto;
    }

    .three .three-content .three-text h2{
        font-size: 3.5rem;
        padding-bottom: 0rem;
        width: 100%;
        margin-bottom: 3rem;
    }

    .three .three-content .three-text .semillas .semillas-content-1 .semillas-text, 
    .three .three-content .three-text .fertilizantes .fertilizantes-text {
        width: 100%;
    }

    .three .three-content .three-text .semillas .semillas-content-1 .semillas-text p{
        padding-right: 0;
    }

    .three .three-content .three-text .semillas .semillas-content-1{
        flex-direction: column;
    }

    .three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-1,
    .three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-2{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .three .three-content .three-text .semillas .semillas-content-2 .card{
        margin-top: 1rem;
    }

    .three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-2 .card:last-of-type{
        grid-column: 1 / -1; 
        justify-self: center;
        max-width: 415px;
    } 

    .three .three-content .three-text .fertilizantes{
        flex-direction: column-reverse;
        margin: 3rem 0 1rem 0;
    }

    .three .three-content .three-text .fertilizantes .fertilizantes-content h3{
        font-size: 4rem
    }

    .three .three-content .three-text .semillas .semillas-content-1 img{
        width: 100%;
        margin-top: 2.5rem;
    }

    .three .three-content .three-text .fertilizantes img{
        width: 100%;
        margin-top: 2.5rem;
        max-width: none;
    }

    .three .three-content .three-text .semillas .semillas-text p{
        padding-right: 0rem;
    }

    .three .three-content .three-text .fertilizantes .fertilizantes-text{
        padding-left: 0rem;
    }

    /* .container{
        flex-direction: column;
    }

    .container .card{
        width: 100%;
        max-width: 100%;
    }

    .container .card:hover{
        width: 100%;
    } */









    .fourth .fourth-content {
        margin-top: 13rem;
        width: 100%;
        height: 100%;
        background-color: #006838;
        text-align: center;
        position: relative;
        color: white;
        padding-bottom: 4rem;
    }

    .block-img {
        margin-top: -130px;
        width: 75%;
        height: 100%;
        border-radius: 45px;
    }

    .fourth .fourth-content .fourth-text h2{
        font-size: 3rem;
    }

    .fourth .fourth-content .fourth-text {
        margin: auto;
        width: 85%;
    }

    .fourth .fourth-content form {
        padding: 0 10% 0 10%;
    }

    footer{
        display: block;
        padding: 3rem 7% 3rem 7%;
    } 

    footer .footer-ul{
        margin-bottom: 3rem;
    }

    footer div, footer img{
        width: fit-content;
        margin-bottom: 3rem;
        margin: auto;
        /* font-size: 2rem; */
    }

    footer img{
        display: block;
        width: 90%;
        max-width: 385px;
    }

}

@media screen and (max-width: 1023px) and (min-width: 600px){
    .three .three-content .three-text .three-cards{
        grid-template-columns: 50% 49%;
        margin: auto;
        grid-gap: 1%;
    }

     .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
    }

    .container .container-cards-1, .container .container-cards-2{
        display: grid;
        /* grid-template-columns: repeat(2, 1fr) */
    }

    .container .container-cards-1 .card,
    .container .container-cards-2 .card{
        width: 100%;
    }

    .container .card{
        width: 100%;
        max-width: 100%;
    }

    .container .card:hover{
        width: 100%;
    }
}

@media screen and (max-width: 599px) {
    .three .three-content .three-text .three-cards{
        display: block;
    }

    .three .three-content .three-text .three-cards .card{
        margin-bottom: 2rem;
    }

    .three .three-content .three-text .fertilizantes .fertilizantes-content h3{
        font-size: 3rem;
        text-align: center;
        padding-right: 1rem; 
    }
    
    .three .three-content .three-text .fertilizantes .fertilizantes-content p{
        text-align: center;
        padding: 0 1rem;
        padding-right: 2rem; 
        margin-top: 5%;
        padding-bottom: 2rem;
        font-size: 1.2rem
    }

    .container .container-cards-1,
    .container .container-cards-2{
        display: block;
    }

    .container .container-cards-1 .card,
    .container .container-cards-2 .card{
        display: block;
        width: 100%;
    }

    .container .card{
        width: 100%;
        max-width: none;
        margin: 2rem 0;
    }

    .container .card:hover{
        width: 100%;
    }

    footer .footer-ul{
        display: block;
    }

    footer div, footer img{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 480px){

    .three .three-content .three-text .semillas .semillas-text h3,
    .three .three-content .three-text .fertilizantes .fertilizantes-text h3{
        font-size: 2rem;
    }

    .three .three-content .three-text h2{
        font-size: 2.5rem;
    }















    .three .three-content .three-text .semillas .semillas1 h3,
    .three .three-content .three-text .fertilizantes .fertilizantes-content h3
    {
        font-size: 3rem;
        text-align: center;
        padding-right: 1rem; 
    }
    
    .three .three-content .three-text .semillas .semillas1 p,
    .three .three-content .three-text .fertilizantes .fertilizantes-content p
    {
        text-align: center;
        padding: 0 1rem;
        padding-right: 2rem; 
        margin-top: 5%;
        padding-bottom: 2rem;
        font-size: 1.2rem
    }

















    .three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-1,
    .three .three-content .three-text .semillas .semillas-content-2 .semillas-cards-2{
        display: block;
    }

    .three .three-content .three-text .fertilizantes .fertilizantes-content h3{
        font-size: 2.3rem
    }
    
    .fourth .fourth-content {
        margin-top: 10rem;
    }

    .fourth .fourth-content .fourth-text h2{
        font-size: 2rem;
    }
    
    .block-img {
        margin-top: -100px;
        width: 90%;
        height: 100%;
        border-radius: 45px;
    }

}

@media only screen and (min-width: 1440px){
    .block-img {
        margin-top:-200px;
        width: 1200px;
        height: 100%;
        border-radius: 65px;
    }
}
